.text-decoration-none {
    text-decoration: none !important;
    margin-top: 7px;
}

.menuIcone{
    text-decoration: none !important;
    color: black !important;    
}

.toolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cursor {
    cursor: pointer;
    color: white !important;
}

.nomeHorizontal{
    height: 50px !important;
}

.appbar{
    background-color: #173B64 !important;
    /* align-items: center; */
}

.navBarItem :hover
{
 color: #E0E0E0;
}

.navBarIcon{
    font-size: xx-large !important;
}

.line0{
    line-height: 1.1!important;
}

.navBarTxt{
    padding-bottom: 10%;
}

.avatarIcon{
    font-size: 200% !important;
}
