.text-decoration-none {
    text-decoration: none !important;
}

.menuIcone {
    text-decoration: none !important;
    color: black !important;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cursorNavbar {
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white !important;
    line-height: 1.1 !important;
    margin-right: 20px;
    font-weight: 600;
}

.nomeHorizontal {
    height: 50px !important;
}

.appbar {
    background-color: #173B64 !important;
    /* align-items: center; */
}

.navBarItem :hover {
    color: #E0E0E0;
}

.navBarIcon {
    /* font-size: xx-small !important; */
    font-size: 20px !important;
}

.navBarTxt{
    
}

.avatarIcon {
    font-size: 200% !important;
}