.topo {
    margin-top: 20px;
}

.boxCadastroPostagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white !important;
    padding: 30px;
    border-radius: 30px;
    border: 1px;
    border-style: solid;
}

.ActionsCadastro {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}