.text-decorator-none {
    text-decoration: none;
}

.links-footer {
    color: #173B64;
    font-size: 15px;
}

.icons {
    color: #173B64;
    font-size: 45px !important;
}

.github-icon {
    color: #173B64;
    font-size: 35px !important;
}

.titulo-footer {
    margin-bottom: 7px;
}

.under-titulo {
    background-color:#00bef0;
    width: 70%;
    height: 1%;
}

.footer {
    /* padding-left: 200px; */
    padding-bottom: 25px;
    width: 100% !important;
    justify-content: space-evenly!important;
}
