.text-decorator-none {
    text-decoration: none;
}

.links-footer {
    color: #173B64;
    font-size: 15px;
}

.icons {
    color: #173B64;
    font-size: 45px !important;
}

.titulo-footer {
    border-bottom-style: double;
    border-color: #00bef0;
}

.footer {
    padding: 20px 50px;
}
